# Environments
venv/
env/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.$py.class

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# MediaPipe model cache
*.tflite
*.task

# Logs
*.log